<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link href="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.css" rel="stylesheet" type="text/css">

    <script src="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.js" type="text/javascript"></script>

    <script src="../../javascripts/menu.js"></script>
</head>

<body>
    <%- include('../layouts/navbar', {isFileUploadEnabled: true, path: dirPathName[0].directoryName, filesResult: files}); -%>


        <!-- Add directory Modal -->
        <%- include('../layouts/modal', {parentId: id, results: directories}); -%>

            <% if (directories.length == 0 && files.length == 0) { %>
                <%- include('../pages/noFile')-%>
                    <% } %>

                        <% if (dupFile) { %>
                            <%- include('../pages/errorMessage')-%>
                                <% } %>



                                    <div class="folder-container">
                                        <% directories.forEach(function(dir){ const url = "http://localhost:3000/common/list/" + dir._id;%>
                                            <div class="context-menu-one" id="<%= JSON.stringify({ type: " directory ", id: dir._id }) %>">
                                                <a href=<%=url %>>
                                                    <!-- <span class="fa fa-folder" style="font-size: 50px;" aria-hidden="true"
                                                    title=<%= dir.directoryName %>></span>&nbsp;&nbsp;<%= dir.directoryName %> -->
                                                    <div class="folder-item">
                                                        <img class="folder-icon" src="/images/folder.png" alt="">
                                                        <%= dir.directoryName %>
                                                    </div>
                                                    <hr>
                                                </a>
                                            </div>
                                            <% }); %>
                                                <% files.forEach(function(file){ const url = "http://localhost:3000/common/list/" + file._id;%>
                                                    <div class="context-menu-one" id="<%= JSON.stringify({ type: " file ", id: file._id }) %>">
                                                        <% 
                                                                <!-- let className="fa fa-file"; -->
                                                                let imgSrc = "/images/file.png";
                                                                switch (file.contentType) {
                                                                    case "image/png":
                                                                    <!-- className = "fa fa-file-image-o"; -->
                                                                    imgSrc = "/images/image.png";
                                                                        break;
                                                                    
                                                                    case "image/jpeg":
                                                                    <!-- className = "fa fa-file-image-o"; -->
                                                                    imgSrc = "/images/image.png";
                                                                        break;
                                                                    
                                                                    case "text/plain":
                                                                    <!-- className = "fa fa-file-text"; -->
                                                                    imgSrc = "/images/file.png";
                                                                        break;
                                                                    
                                                                    case "application/pdf":
                                                                    <!-- className = "fa fa-file-pdf-o"; -->
                                                                    imgSrc = "/images/pdf.png";
                                                                        break;
                                                                    
                                                                    case "application/msword":
                                                                    <!-- className = "fa fa-file-word-o"; -->
                                                                    imgSrc = "/images/word.png";
                                                                        break;
                                                                    
                                                                    case "application/vnd.openxmlformats-officedocument.wordprocessingml.document":
                                                                        <!-- className = "fa fa-file-word-o"; -->
                                                                    imgSrc = "/images/word.png";
                                                                        break;
                                                                    default:
                                                                        break;
                                                                }
                                                                %>
                                                            <a href=<%="http://localhost:3000/file/" + file._id %> target="blank">
                
                                                                <div class="folder-item" title="<%= file.fileName %>">
                                                                    <img class="folder-icon" src="<%=imgSrc%>" alt="">
                                                                    <%= file.fileName %>
                                                                </div>
                                                                <hr>
                                                            </a>

                                                    </div>
                                                    <% }); %>
                                    </div>
</body>

</html>

<!-- 
    "fa fa-file"
    "fa fa-file-image-o"
    "fa fa-file-text"
    "fa fa-file-pdf-o"
    "fa fa-file-word-o"
 -->